# dependencies
/node_modules

# testing
/coveragegot

.idea
.vscode

cypress/screenshots

.yarnrc.yml
.progress
.prettierrc


.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
